.b{
	height: 100px;
	width: 200px;
	margin: 2px;
}
#btnG{
	background-color: darkgreen;
}	
#btnR{
	background-color: darkred;
}
#btnB{
	background-color: darkblue;
}
#btnY{
	background-color: goldenrod;
}

.green{
	animation-name: green;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes green {
  from {background-color: darkgreen;}
  to {background-color: lightgreen;}
}

.red{
	animation-name: red;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes red {
  from {background-color: darkred;}
  to {background-color: tomato;}
}

.blue{
	animation-name: blue;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes blue {
  from {background-color: darkblue;}
  to {background-color: lightskyblue;}
}

.yellow{
	animation-name: yellow;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes yellow {
  from {background-color: goldenrod;}
  to {background-color: yellow;}
}