.b{
	height: 100px;
	width: 200px;
}
.main-buttons{
	width: 100%;
	height: 100px;
}
.greyOnes{
	height: 100px;
	width: 100px;
	padding: 20px;
	font-size: 15px;
	font-weight: bolder;
}

#play{
	text-align: center;
}

#addNo{
	background-color: black;
	font-size: 30px;
	color: white;
	height: 50px;
	width: 50px;
}
#No{
	font-size: 15px;
	color: red;
	height: 40px;
	width: 30px;
	margin: auto;
	position: relative;
	top: 20px;
	right: 20px;
}
#reset{
}

#btnG{
	background-color: darkgreen;
}	
#btnR{
	background-color: darkred;
}
#btnB{
	background-color: darkblue;
}
#btnY{
	background-color: goldenrod;
}

.green{
	animation-name: green;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes green {
  from {background-color: darkgreen;}
  to {background-color: lightgreen;}
}

.red{
	animation-name: red;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes red {
  from {background-color: darkred;}
  to {background-color: tomato;}
}

.blue{
	animation-name: blue;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes blue {
  from {background-color: darkblue;}
  to {background-color: lightskyblue;}
}

.yellow{
	animation-name: yellow;
	animation-duration: .4s;
	animation-direction: alternate;
}
@keyframes yellow {
  from {background-color: goldenrod;}
  to {background-color: yellow;}
}

.numbers{
	background: #330000;
	font-size: 30px;
	color: red;
	height: 50px;
	width: 50px;
	line-height: 150%;
	text-align: center;
}