body{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("images/black-stars.jpg") no-repeat bottom right fixed;
}
.set-button:hover{
	box-shadow: 0px 1px 5px 3px #888888;
}

#rules{
	float: left;
	height: 500px;
	width: 250px;
	margin-left: 30px;
}


/*COUNTERS*/
.text{
	margin: 0;
	text-align: center;
}
.screen{
	margin: auto;
	text-align: center;
}
.number{
	font-family: 'Orbitron', sans-serif;
	margin: auto;
	background: #330000;
	font-size: 35px;
	color: red;
	height: 50px;
	width: 50px;
	line-height: 150%;
	text-align: center;
	border: 1px solid black;
}
.fa-check{
	display: none;
}

.fa-times{
	display: none;
}

.fa-sync-alt{
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	color: black;
}
/*SET buttons*/
.set-button{
	height: 60px;
	width: 60px;
	font-weight: bolder;
	font-size: 20px;
	background-color: black;
	color: white;
	outline: white;
	
}
#No{
	color: red;
	font-size: 17px;
}
#play{
	position: relative;
	right: 10px;
}
#addNo{
	position: relative;
	left: 10px;
}
/*COLOR buttons*/
.button-play{
	height: 170px;
	width: 170px;
	border-radius: 50%;
	outline: none;
	border: 1px;
}
#btnG{
	background-color: darkgreen;
}	
#btnR{
	background-color: darkred;
}
#btnB{
	background-color: darkblue;
}
#btnY{
	background-color: goldenrod;
}

.green{
	animation-name: green;
	animation-duration: .3s;
	animation-direction: alternate;
	box-shadow: 0px 1px 5px 3px #888888;
}
@keyframes green {
  from {background-color: darkgreen;}
  to {background-color: lightgreen;}
}

.red{
	animation-name: red;
	animation-duration: .3s;
	animation-direction: alternate;
	box-shadow: 0px 1px 5px 3px #888888;
}
@keyframes red {
  from {background-color: darkred;}
  to {background-color: tomato;}
}

.blue{
	animation-name: blue;
	animation-duration: .3s;
	animation-direction: alternate;
	box-shadow: 0px 1px 5px 3px #888888;
}
@keyframes blue {
  from {background-color: darkblue;}
  to {background-color: lightskyblue;}
  
}

.yellow{
	animation-name: yellow;
	animation-duration: .3s;
	animation-direction: alternate;
	box-shadow: 0px 1px 5px 3px #888888;
}
@keyframes yellow {
  from {background-color: goldenrod;}
  to {background-color: yellow;}
}
.flex-container{
	border-radius: 50%;
	height: 500px;
	width: 500px;
	background-color:;/*#aaa9ad;*/
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.line-1{
	margin: 0;
	display: flex;
	flex-direction:;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50px;
}
.line-2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 30px
}
.line-3{
	display: flex;
}
.line-4{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-left: 40px;
	margin-right: 40px;
	padding-bottom: 30px
}	
.line-5{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 40px;
}

	